main {
    display:inline-block;    
    section{
        position: relative;
        text-align:center;
        
        h1{
            position: absolute;
            top: 30%;
            left: 35%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 50px;
        }
        h2{
            position: absolute;
            top: 50%;
            left: 35%;
            transform: translate(-50%, -50%);
            color: white;
        }
}


}
.imagenPrincipalFondo{
    padding-top: 95px;
    padding-left: 616px;
    height: 49rem;
    background-color: #121212;
    display: block;
  }
