div ul {
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  li {
    display: inline-block;
    margin-right: 90px;
  }
}
.contenedorSection {
  background-color: #d3cdbf;
  padding: 100px;
  display: flex;
}
