div ul{
    list-style: none;
    li{
        display: inline-block;
        margin-right: 90px;
    }
}
.contenedorSection{
    background-color: #D3CDBF;
    padding: 100px;
    margin: 0px;
    display:flex;
}